[submodule "Supernova/vendor/glm"]
	path = Supernova/vendor/glm
	url = https://github.com/g-truc/glm
	branch = docking
[submodule "Supernova/vendor/GLFW"]
	path = Supernova/vendor/GLFW
	url = https://github.com/doctor5555/glfw
	branch = master